<!DOCTYPE <!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr' crossorigin='anonymous'>
    <link rel='stylesheet' type='text/css' media='screen' href='./index.css' />
    <title>Currency converter</title>
	</head>
	<body ng-app="myApp">
		
		<div class="wrapper" ng-controller='currencyController as cc'>

			<form class="convert-app">

				<nav class="nav nav-pills nav-justified">
					<p class="nav-item nav-link active" href="javascript:void(0)">Currency Convert</p>
				</nav>

				<div class="choose-value">
					<div class="form-group">
						<label>Give</label>
						<select class="form-control" 
								ng-model="cc.currencyGiveName" 
								ng-click="cc.convertMoney()"
								ng-options='item.ccy as item.ccy for item in cc.currency | currencyFilter: cc.currencyReceiveName'>
						</select>
					</div>

					<button type="button" class="btn btn-outline-primary" ng-click='cc.swapCurrency()'>
						<i class="fas fa-exchange-alt"></i>
					</button>

					<div class="form-group">
						<label>Receive</label>
						<select class="form-control" 
								ng-model="cc.currencyReceiveName" 
								ng-click="cc.convertMoney()"
								ng-options='item.ccy as item.ccy for item in cc.currency | currencyFilter: cc.currencyGiveName '>
						</select>
					</div>
				</div>

				<div class="choose-sum">

					<div class="form-group">
						<label>How much trade</label>
						<input type="number" 
							class="form-control" 
							min='1'
							placeholder="0.00" 
							ng-model="cc.tradeValue" 
							ng-change='cc.convertMoney()'
						/>
					</div>

					<p>or</p>

					<div class="form-group">
						<label>How much receive</label>
						<input type="number" 
							class="form-control" 
							placeholder="0.00"
							ng-model="cc.receiveValue" 
							ng-change='cc.convertMoney()'
							readonly
						/>
					</div>

				</div>

				<div class="input-group">
					<div class="input-group-prepend">
						<label class="input-group-text" for="inputGroupSelect01">Comission</label>
					</div>
					<select class="custom-select" ng-click='cc.withCommissions($event)'>
						<option selected disabled>Choose...</option>
						<option value="0">0%</option> 
						<option value="1">1%</option> 
						<option value="2">2%</option>
						<option value="3">3%</option>
						<option value="4">4%</option>
						<option value="5">5%</option>
					</select>
				</div>

			</form>
			
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.js"></script>
		<script src='./index.js'></script>
	</body>
	</html>